.container {

    height: 70%;

    margin: 50px auto;
    padding: 20px;
   
    border: solid 1px lightblue;
    border-radius: 8px;

    background-color: white;
   
    background-position: left;

    box-shadow: 1px 1px 4px 1px rgb(61, 61, 61);

    .toggleStatictic {

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: start;

        margin-bottom: 15px;
        padding: 5px;
        height: 10%;

        border-bottom: 2px solid #aab1f8;

        .currentUser {

            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: end;

            p {

                margin-bottom: 5px;
                margin-top: 25px;
                font-size: 14px;
                font-weight: 500;
                color: #aab1f8;
                line-height: 1;
            }

        }

        button {

            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 40px;

            outline: none;

            transition: all 0.3s ease; 
        }

        button:active {

            box-shadow: inset 1px 1px 4px 1px rgb(61, 61, 61);

        }

        button:hover {

            border-color: lightblue;

        }
        
    }

    

    .currentStatistic {

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
       
        .toggleStatictic {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center; 
        }

        .dayStatistic {
            padding: 10px;
        }

        .calendarContainer {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center; 

            gap: 100px;

            .completeContainer {

                 width: 100%;

                 border: 2px solid #aab1f8;
                 border-radius: 11px;

                .complete {

                    display: flex;
                    justify-content: center;
                    align-items: center; 

                    .completeTitle {

                        display: flex;
                        justify-content: center;
                        align-items: center; 

                        font-size: 14px;
                        font-weight: 700;

                    }
                }
            }

             .calendar {

               border: unset;
    
            } 
        }

            .monthStatistic {

            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            width: 50%;

            .list {

                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                   
                row-gap: 5px;   
                column-gap: 5px;

                font-size: 16px;

                width: 90%;
                height: 100px;

                padding: 3px 5px;

                margin: 0 0 10px 0;

                background-color: rgb(244, 242, 242);

                overflow-y: auto;
                overflow-x: hidden;

                .item {

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: calc((100% - (15 * 100%)/100)/4);

                    padding: 3px;

                    list-style: none;

                    height: 20px;
                    background-color: rgb(238, 238, 238);

                    color: #1C274C;

                    border: 1px solid lightblue;

                    border-radius: 50px;

                    transition: all 0.3s ease; 

                }

                .item:hover {
                    cursor: pointer;
                    border-color: gray;
                }
            }

            .dashboard {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 90%;

                margin-bottom: 20px;

                button {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    width: 70px;
                    height: 40px;

                    // box-shadow: inset 1px -2px 4px -2px rgb(61, 61, 61);

                    color: #1C274C;

                    font-weight: 700;
                    font-size: 14px;    
                    
                }

                button:active {

                    box-shadow: inset 1px 1px 4px 1px rgb(61, 61, 61);
                }

                button:focus {

                    outline: 2px solid #aab1f8;
                
                }

            }

            .parameter {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
                width: 90%;
                height: 30px;

                padding: 5px 10px;

                border-bottom: dashed 1px #454c1c;

                p {

                    margin: 0;

                    width: 50px;
                    font-weight: 600;
                }

                .value {

                    width: 100px;

                    font-size: 20px;
                    font-weight: 600;

                    color: rgb(85, 47, 173);
                }

                .rest {
                    width: 100px;

                    font-size: 20px;
                    font-weight: 600;

                    color: olive;
                }
                
            }
        }
            

    }

}

input {

    height: 20px;

    border: none;
    border-radius: 6px;

    background-color: lightgray;
}   

input:focus {

   outline: none;
}

.modDashboard {

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;

    button {

        text-align: center;

        width: 80px;

        padding: 3px;

        background-color: lightgray;

        p{
            margin: 0 auto;
        }
    }

}