.container {

    height: fit-content;

    padding: 5px 10px;

    .buttonContainer {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: 10px
    }

    button {

        background-color: #aab1f8;

        transition: background-color 0.3s ease;
    }
    
    button:active {

        box-shadow: inset 1px 1px 4px 1px rgb(61, 61, 61);
    }

    button:focus {

        outline: 2px solid #aab1f8;
                
    }

    button:hover {
         background-color: #c7ccff;
    }
}