.container {

    padding: 100px;

    .formWrapper {

        width: 400px;

        height: 400px;

        padding: 5px;

        margin: 0 auto;

        background-color: lightgray;
       
        border-radius: 50%;

        box-shadow: 1px 1px 4px 1px rgb(61, 61, 61);

        background-image: url("/src/images/moon-svgrepo-com.svg");

        background-size: contain;

        .formTitle {

            font-size: 15px;
            color: white;

            margin: 0;
        }

        input {
  
            height: 25px;
 
            margin-bottom: 5px;
 
            border: 0;
            border-radius: 6px;
         }
 
         input:focus {
                 
            outline: unset;
         }

        .formInfo {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            height: fit-content;

            width: fit-content;

            margin: 5px 0;

            padding: 0 3px;

            font-size: 12px;

            background-color: rgb(219, 183, 20);
            border-radius: 8px;

            p {
                margin: 0;
            }
        }

        form {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 5px;

            padding: 10px;
        }

        button {

            display: flex;
            justify-content: center;
            align-items: center;

            width: 32px;
            height: 32px;
            
            border-radius: 8px;

            transition: outline 0.3s;
            
        }

        button:active {
            box-shadow: inset 1px 1px 4px 1px rgb(61, 61, 61);
        }

        button:focus {
            outline: none;
        }

        .switch {

            display: flex;
            justify-content: center;
            align-items: center;

            width: fit-content;

            padding: 0 3px;

            margin: 0 auto;

            background-color: white;
            border-radius: 8px;
            transition: outline 0.3s;
        }

        .switch:hover {

            cursor: pointer;

            outline: 1px solid blue;

        }

        .switch:active {
            box-shadow: inset 1px 1px 4px 1px rgb(61, 61, 61);
        }

    }

}

@media (max-width: 480px) {

    .container {

        padding: 100px 0;

        .formWrapper {

            width: 350px;

            height: 350px;
        
            .itemLabel {

                input {
    
                    height: 20px;
        
                    margin-bottom: 5px;
        
                    border: 0;
                    border-radius: 6px;
                }
        
                input:focus {
                        
                    outline: unset;
                }
            }

            .switch {

                display: none;
              
            }
        }
    }
  
}

@media (max-width: 768px) {
   
}


@media (max-width: 1024px) {
   
}