.comtainer {

    display: flex;
    justify-content: start;
    align-items: center;

    width: 75px;

    border-radius: 50px;

    box-shadow: inset 1px 1px 4px 1px rgb(89, 89, 89);

    .name {

        margin: 0;
        padding: 0;

    }
}

.comtainer:hover {

    cursor: pointer;

}