header {

    width: 100vw;

    margin: 0  auto;

    .container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 100px;

        padding: 0 30px;

        background: linear-gradient(white 70%, #aab1f8 25%);

        .time {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;

            gap: 5px;

            font-size: 14px;
            width:fit-content;
            height: fit-content;
            
            color: rgb(169, 169, 169);

            .today {
                margin: 0;
            }

            p {
                margin: 0;
            }
        }

        .logo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; 

            font-size: 25px;

            .logoLeft {
             margin: 0;
                // color: rgb(60, 47, 231);
                color: #aab1f8;
            }

            .logoRight {
                // color: rgb(219, 183, 20);
                color: #aab1f8;
            }
        }

        .navList {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            height: 100%;
    
            gap: 2px;
    
            padding: 0;

            margin: 0;
    
            .navItem {
                
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                font-size: 14px;

                padding: 0 3px;

                border-left: solid 1px rgb(60, 47, 231);
                border-right: solid 1px rgb(60, 47, 231);
                border-bottom: solid 2px rgb(60, 47, 231);

                border-radius: 0 0 6px 6px;

            }
        }

        .out {

            display: flex;
            justify-content: center;
            align-items: center;
           
            padding: 5px;

            width: 60px;
            height: 60px;

            margin-top: 20px;

            background-color: white;

            border-radius: 50%;

            background-color: #564cad;

            border: 3px solid #aab1f8;

            box-shadow: inset 1px 1px 4px 1px rgb(61, 61, 61);

            transition: background-color 0.3s;
        }

        .out:hover {
            
            background-color: #7c73ce;
        }

         .burger {

            display: none;
         
        }

    }

}

  
.footer {

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    padding: 20px 5px;

    height: 200px;

    background-color: #aab1f8;

    .contacts {

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        gap: 10px;

        width: calc(100% - 60px);

        padding: 5px 0;

        .contactInfo {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            gap: 10px;

            
            a {
                
                margin: 0;

                font-size: 16px;

                color: white;
            }


            p {
                
                margin: 0;

                font-size: 16px;

                color: white;
            }

        }

         .contactIcon:hover {

            cursor: pointer;

        }

    }

    .info {

        margin: 0;

        font-size: 16px;
        font-weight: 500;

        color: white;
    }
}

@media (max-width: 480px) {

    header {

    width: 100vw;

    margin: 0  auto;

    .container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 100px;

        padding: 0 30px;

        background: linear-gradient(white 70%, #aab1f8 25%);

        .time {

           display: none;
        }

        .logo {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; 

            font-size: 25px;

            .logoLeft {
             margin: 0;
                // color: rgb(60, 47, 231);
                color: #aab1f8;
            }

            .logoRight {
                // color: rgb(219, 183, 20);
                color: #aab1f8;
            }
        }

        .out {
            display: none;
        }

        .out:hover {
            
            background-color: #7c73ce;
        }

        .burger {

            display: flex;
            justify-content: center;
            align-items: center; 

            width: fit-content;
            height: fit-content;

            padding: 0;

            background-color: white;

            border-radius: 0; 

        }

    }

}

  
.footer {

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    padding: 20px 5px;

    height: 200px;

    background-color: #aab1f8;

    .contacts {

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        gap: 10px;

        width: calc(100% - 60px);

        padding: 5px 0;

        .contactInfo {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            gap: 10px;

            
            a {
                
                margin: 0;

                font-size: 16px;

                color: white;
            }


            p {
                
                margin: 0;

                font-size: 16px;

                color: white;
            }

        }

         .contactIcon:hover {

            cursor: pointer;

        }

    }

    .info {

        margin: 0;

        font-size: 16px;
        font-weight: 500;

        color: white;
    }
}

  
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    header {

    width: 100vw;

    margin: 0  auto;

    .container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 100px;

        padding: 0 30px;

        background: linear-gradient(white 70%, #aab1f8 25%);

        .time {

           display: none;
        }

        .logo {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; 

            font-size: 25px;

            .logoLeft {
             margin: 0;
                // color: rgb(60, 47, 231);
                color: #aab1f8;
            }

            .logoRight {
                // color: rgb(219, 183, 20);
                color: #aab1f8;
            }
        }

        .burger {

            display: none;

        }

    }

}
   
}


@media screen and (min-width: 769px) and (max-width: 1439px){

       .burger {

            display: none;

        }
}