header {

    width: 100vw;

    margin: 0  auto 40px auto;

    .container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 100px;

        padding: 0 30px;

        background: linear-gradient(white 70%, #aab1f8 25%);

        .time {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;

            gap: 5px;

            font-size: 14px;
            width:fit-content;
            height: fit-content;
            
            color: rgb(169, 169, 169);

            .today {
                margin: 0;
            }

            p {
                margin: 0;
            }
        }

        .logo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; 

            font-size: 25px;

            .logoLeft {
             margin: 0;
                // color: rgb(60, 47, 231);
                color: #aab1f8;
            }

            .logoRight {
                // color: rgb(219, 183, 20);
                color: #aab1f8;
            }
        }

        .navList {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            height: 100%;
    
            gap: 2px;
    
            padding: 0;

            margin: 0;
    
            .navItem {
                
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                font-size: 14px;

                padding: 0 3px;

                border-left: solid 1px rgb(60, 47, 231);
                border-right: solid 1px rgb(60, 47, 231);
                border-bottom: solid 2px rgb(60, 47, 231);

                border-radius: 0 0 6px 6px;

            }
        }

        .out {

            display: flex;
            justify-content: center;
            align-items: center;
           
            padding: 5px;

            width: 60px;
            height: 60px;

            background-color: white;

            border-radius: 50%;

            border: 3px solid #aab1f8;
         }

    }

}