.container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 75px;

    gap: 4px;

    border-radius: 50px;

    box-shadow: inset 1px 1px 4px 1px rgb(89, 89, 89);

    .day{

        display: flex;
        justify-content: center;
        align-items: center;

        width: 18px;
        height: 35px;

        margin-bottom: 5px;

        border-radius: 50px 0 0 50px;

        background-color: rgb(61, 61, 61);
        
    }

    .night{

        display: flex;
        justify-content: center;
        align-items: center;

        width: 18px;
        height: 35px;

        margin-bottom: 5px;

        border-radius: 0 50px 50px 0;

        background-color: rgb(61, 61, 61);
    }

}

@media (max-width: 479px) {

}

@media screen and (min-width: 480px) and (max-width: 767px) {
   
}


@media screen and (min-width: 768px) and (max-width: 1439px) {
   
}