.container {

    padding: 5px 25px;

    height: fit-content;

    // background-image: url('../../images/StockCake-Autumn\ Road\ Safety_1731239180.jpg');

    background-color: #e7e7f0;
    background-position: center;
}

@media (max-width: 480px) {

    .container {

        padding: 5px 25px;

    }
  
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {

        padding: 5px 25px;

    }
}


@media screen and (min-width: 768px) and (max-width: 1439px) {
   
}