.container {

    padding: 20px 100px;

    height: 100vh;

    // background-image: url('../../images/StockCake-Autumn\ Road\ Safety_1731239180.jpg');

    background-color: #e7e7f0;
    background-position: center;
}

@media (max-width: 480px) {

    .container {

        padding: 5px 25px;

    }
  
}

@media (max-width: 768px) {
   
}


@media (max-width: 1024px) {
   
}