.container {

        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        // align-items: center;

        font-family: 'Consolas';

        gap: 5px;

        margin: 0;

        height: 85%;

        .mustOperations {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            height: 50%;

            .buttonsSet{

                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;

                width: 100%;

                padding-left: 5px;

                gap: 5px;

                .item {

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    list-style: none;

                    gap: 5px;

                    button {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        padding: 3px;

                        height: 30px;
                        width: 30px;

                        outline: none;
                    }

                    button:hover {
                        border-color: lightblue;
                    }

                    button:active {
                        box-shadow: inset 1px 1px 4px 1px rgb(61, 61, 61);
                    }

                    button:disabled {
                        cursor: not-allowed;
                        box-shadow: none;
                    }
                   
                }

            }
           
            .form {

                display: flex;
                flex-direction: column;
                justify-content: column;
                align-items: center;

                width: 100%;

                gap: 10px;

                .newCollabsField{

                    padding: 5px;

                    width: 90%;
                    height: 100px;

                    color: gray;

                    border: unset;
                    background-color: rgb(244, 242, 242);

                    outline-style: none;

                    resize: none;
                    
                }

                @keyframes pulse {
                0% { opacity: 1; }
                50% { opacity: 0.3; }
                100% { opacity: 1; }
                }

                .newCollabsField::placeholder{

                    font-size: 14px;
                    animation: pulse 1.5s infinite ease-in-out;
                }

                .userPlus {

                    display: flex;
                    flex-direction: row;
                    justify-content: column;
                    align-items: center;
                    
                    height: 30px; 
                    
                    outline: none;
                }

                .userPlus:active {
                        box-shadow: inset 1px 1px 4px 1px rgb(61, 61, 61);
                }

                .userPlus:hover {
                        border-color: lightblue;
                }
            }

            .search {
                background-color: rgb(244, 242, 242);
            }

        }

        .collabs {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            padding: 10px 0;
            margin: 0 auto;

            overflow-y: auto;
            overflow-x: hidden;

            width: 100%;
            height: 50%;

            border: solid 1px lightgray;
            border-left: unset;
            border-right: unset;

            .collabsList {

                display: flex;

                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                width: calc(100% - 6px);
                height: fit-content;

                padding: 0;
                margin: 0;
                    
                border: solid 3px transparent;

                .item {

                    list-style: none;
                    width: 100%;

                    transition: all 0.1s ease;

                    border-bottom: 2px dashed lightgray;

                    .userDetails {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        width: calc(100% - 10px);

                        padding: 0 5px;

                        gap: 10px;

                        background-color: solid 2px rgb(244, 242, 242);
                    
                        p {
                            margin: 0;
                            width: fit-content;
                            font-size: 15px;

                            text-align: center;
                        }
                        .collabDaysList {

                                display: flex;
                                flex-direction: start;
                                flex-wrap: wrap;

                                row-gap: 15px;   
                                column-gap: 15px;

                                padding: 0;

                                width: 100%;

                            @keyframes rotate-animation {
                            from {
                                transform: rotate(0deg);
                            }
                            to {
                                transform: rotate(360deg);
                            }
                            }
                            
                            .loader {
                                animation: rotate-animation 2s linear infinite;
                            }

                            .collabDates {
 
                                width: 30px;
                                height: 30px;
                                list-style: none;

                                .collabDate {

                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center; 

                                    width: 100%;
                                    height: 100%;

                                    color: white;

                                    background-color: #aab1f8;
                                    border-radius: 5px;
                                    border: solid 2px transparent
                                }

                                .collabDate:hover {

                                    cursor: cell;
                                    border-color: gray;

                                } 

                                .collabDate:active {
                                    box-shadow: inset 1px 1px 4px 1px rgb(61, 61, 61);
                                }
                            }

                        }

                        .parameters {

                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center; 

                            gap: 5px;

                            width: 100%;

                            .paramsPartDay {

                                
                                width: 50%;

                                .paramsRowDay {

                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center; 

                                    color: black;

                                    padding: 0 5px;
                                    margin-bottom: 3px;

                                    height: 25px;

                                    gap: 5px;

                                    background-color: lightgray;

                                    .paramsRowBlock {

                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        align-items: center; 

                                        gap: 5px;
                                    }
                                    
                                }

                            }

                            .paramsPartMonth {

                                
                                width: 50%;

                                .paramsRowMonth {

                                    display: flex;
                                    flex-direction: row;
                                    justify-content: end;
                                    align-items: center; 

                                    color: black;

                                    padding: 0 5px;
                                    margin-bottom: 3px;

                                    height: 25px;
                                    
                                    font-size: 14px;

                                    font-weight: bold;

                                    gap: 5px;

                                    background-color: lightgray;

                                    .paramsRowBlock {

                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        align-items: center; 

                                        gap: 5px;
                                    }
                                    
                                }

                            }
                        }
                    }

                    .userData {

                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        width: 100%;

                        margin-bottom: 5px;

                        p {
                            margin: 0;
                            width: fit-content;
                            font-size: 15px;

                            padding: 0 5px;

                            text-align: center;
                        }

                        .name {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            gap: 5px;
                        }
                    }

                }  
                
                .item:hover {
                    
                    border-left: solid 3px gray;
                    border-right: solid 3px gray;
                    cursor: pointer;
                    background-color: rgb(244, 242, 242);
                        
                }

            }

        }

        .errorsMessages {

            font-size: 14px;

            margin: 0 auto;

            height: 20px;
            width: 200px;
            
            color: black;

        }

}