.container {

        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        // align-items: center;

        gap: 20px;

        margin: 0;

        height: 85%;

        .mustOperations {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            height: 50%;

            .buttonsSet{

                .item {

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    list-style: none;

                    button {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        padding: 3px;

                        height: 50px;
                        width: 50px;
                    }
                   
                }

            }
           
            .form {

                width: 100%;

                .newCollabsField{
                    width: 90%;
                    height: 100px;

                    border: unset;
                    background-color: rgb(244, 242, 242);

                    outline-style: none;
                }
            }

            .search {
                background-color: rgb(244, 242, 242);
            }

        }

        .collabs {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            padding-top: 10px;
            margin: 0 auto;

            overflow-y: auto;
            overflow-x: hidden;

            width: 100%;
            height: 150%;

            border: solid 1px lightgray;
            border-left: unset;
            border-right: unset;

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                list-style: unset;

               
                width: calc(100% - 6px);
                height: fit-content;

                padding: 3px 0;
                
                border: solid 3px transparent;

                transition: all 0.3s ease;


                .userDetails {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        margin: 0;
                        width: fit-content;
                        font-size: 15px;

                        text-align: center;
                    }
                }

                .userData {

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: calc(100% - 10px);

                    padding: 0 5px;

                    p {
                        margin: 0;
                        width: fit-content;
                        font-size: 15px;

                        text-align: center;
                    }
                }

            }
                
            .item:hover {
                
                border-left: solid 3px gray;
                border-right: solid 3px gray;
                cursor: pointer;
                background-color: rgb(244, 242, 242);
                    
            }

        }

        .errorsMessages {

            margin: 5px auto;

            height: 10px;
            width: 200px;
            
            color: black;

        }

}